CleanArchitecture/.vs/CleanArchitecture/FileContentIndex/3eb1809f-8dbe-4524-9542-ec52da7b6e40.vsidx
CleanArchitecture/.vs/CleanArchitecture/FileContentIndex/read.lock
CleanArchitecture/CleanArchitecture.API/obj/CleanArchitecture.API.csproj.nuget.dgspec.json
CleanArchitecture/CleanArchitecture.API/obj/CleanArchitecture.API.csproj.nuget.g.props
CleanArchitecture/CleanArchitecture.API/obj/CleanArchitecture.API.csproj.nuget.g.targets
CleanArchitecture/CleanArchitecture.API/obj/project.assets.json
CleanArchitecture/CleanArchitecture.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CleanArchitecture/CleanArchitecture.API/obj/Debug/net6.0/CleanArchitecture.API.AssemblyInfo.cs
CleanArchitecture/CleanArchitecture.API/obj/Debug/net6.0/CleanArchitecture.API.GeneratedMSBuildEditorConfig.editorconfig
CleanArchitecture/CleanArchitecture.API/obj/Debug/net6.0/CleanArchitecture.API.GlobalUsings.g.cs
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/CleanArchitecture.Application.UnitTest.csproj.nuget.dgspec.json
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/CleanArchitecture.Application.UnitTest.csproj.nuget.g.props
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/CleanArchitecture.Application.UnitTest.csproj.nuget.g.targets
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/project.assets.json
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/Debug/net6.0/CleanArchitecture.Application.UnitTest.AssemblyInfo.cs
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/Debug/net6.0/CleanArchitecture.Application.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
CleanArchitecture/CleanArchitecture.Application.UnitTest/obj/Debug/net6.0/CleanArchitecture.Application.UnitTest.GlobalUsings.g.cs
CleanArchitecture/CleanArchitecture.Application/obj/CleanArchitecture.Application.csproj.nuget.dgspec.json
CleanArchitecture/CleanArchitecture.Application/obj/CleanArchitecture.Application.csproj.nuget.g.props
CleanArchitecture/CleanArchitecture.Application/obj/CleanArchitecture.Application.csproj.nuget.g.targets
CleanArchitecture/CleanArchitecture.Application/obj/project.assets.json
CleanArchitecture/CleanArchitecture.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CleanArchitecture/CleanArchitecture.Application/obj/Debug/net6.0/CleanArchitecture.Application.AssemblyInfo.cs
CleanArchitecture/CleanArchitecture.Application/obj/Debug/net6.0/CleanArchitecture.Application.GeneratedMSBuildEditorConfig.editorconfig
CleanArchitecture/CleanArchitecture.Application/obj/Debug/net6.0/CleanArchitecture.Application.GlobalUsings.g.cs
CleanArchitecture/CleanArchitecture.Data/obj/CleanArchitecture.Infrastructure.csproj.nuget.dgspec.json
CleanArchitecture/CleanArchitecture.Data/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.props
CleanArchitecture/CleanArchitecture.Data/obj/CleanArchitecture.Infrastructure.csproj.nuget.g.targets
CleanArchitecture/CleanArchitecture.Data/obj/project.assets.json
CleanArchitecture/CleanArchitecture.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CleanArchitecture/CleanArchitecture.Data/obj/Debug/net6.0/CleanArchitecture.Infrastructure.AssemblyInfo.cs
CleanArchitecture/CleanArchitecture.Data/obj/Debug/net6.0/CleanArchitecture.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
CleanArchitecture/CleanArchitecture.Data/obj/Debug/net6.0/CleanArchitecture.Infrastructure.GlobalUsings.g.cs
CleanArchitecture/CleanArchitecture.Domain/obj/CleanArchitecture.Domain.csproj.nuget.dgspec.json
CleanArchitecture/CleanArchitecture.Domain/obj/CleanArchitecture.Domain.csproj.nuget.g.props
CleanArchitecture/CleanArchitecture.Domain/obj/CleanArchitecture.Domain.csproj.nuget.g.targets
CleanArchitecture/CleanArchitecture.Domain/obj/project.assets.json
CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net6.0/CleanArchitecture.Domain.AssemblyInfo.cs
CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net6.0/CleanArchitecture.Domain.GeneratedMSBuildEditorConfig.editorconfig
CleanArchitecture/CleanArchitecture.Domain/obj/Debug/net6.0/CleanArchitecture.Domain.GlobalUsings.g.cs
CleanArchitecture/.vs/CleanArchitecture/DesignTimeBuild/.dtbcache.v2
CleanArchitecture/.vs/CleanArchitecture/v17/.futdcache.v1
CleanArchitecture/.vs/ProjectEvaluation/cleanarchitecture.metadata.v2
CleanArchitecture/.vs/ProjectEvaluation/cleanarchitecture.projects.v2
CleanArchitecture/.vs/CleanArchitecture/FileContentIndex/7fbbdd44-9f6b-46fe-adcf-375b32511ca0.vsidx
*.vsidx
